.diary-container {
  perspective: 2000px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 800px;
  overflow: hidden;
}

.diary-cover {
  background: #1d1c1c;
  color: white;
  width: 500px;
  height: 690px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 10px;
  cursor: pointer;
  transform-origin: left;
  transform: rotateY(0);
  transition: transform 1s ease-in-out;
  z-index: 1;
}

.diary-cover.open {
  transform: rotateY(-180deg);
}

.diary-title {
  font-weight: bold;
  margin-bottom: 8px;
}

.diary-content {
  position: absolute;
  background: #f7edd3;
  width: 460px;
  height: 650px;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  opacity: 0;
  transform: rotateY(180deg);
}

.diary-content.show {
  opacity: 1;
  transform: rotateY(0);
}
.MuiPaper-root.MuiPaper-elevation.MuiPaper-rounded.MuiPaper-elevation1.css-1fdopfm-MuiPaper-root {
  background: none;
  box-shadow: none !important;
}
.diary-logo{
  width: 50%;
}
body {
  background-image: url('../components/images/background2.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
  margin: 0;
  padding: 0;

}
.css-1to3zvg-MuiButtonBase-root-MuiButton-root{
  background-color: #0e0e0e !important;
}

.css-1to3zvg-MuiButtonBase-root-MuiButton-root:hover{
  background-color: #1b1b1b !important;
}
h5.MuiTypography-root.MuiTypography-h5.MuiTypography-alignCenter.css-1gpmdwj-MuiTypography-root{
  font-weight: 700;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-style: italic;
}
.css-zsp0bh-MuiInputBase-root-MuiOutlinedInput-root:active{
  border-color: #0e0e0e;

}
/* Full-page styling */
.full-page {
  display: flex;
  justify-content: center;
  align-items: center;
  
}

/* Table wrapper styling */
.table-wrapper {
  max-width: 80%;
  width: 100%;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  background-color: rgba(255, 255, 255, 0.396);
}

/* Table styling */
.custom-table {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Title styling */
.MuiTypography-root {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color: #1d1c1c;
  font-weight: 700 !important;
  font-size: 25px !important;
}

/* Button styling */
a.btn {
  text-decoration: none;
  padding: 5px 10px;
  border: 1px solid #000000;
  color: #000000;
  border-radius: 4px;
  transition: all 0.3s ease;
}

a.btn:hover {
  background-color: #000000;
  color: white;
}

